<html>
<head>
<title>[FWAC]</title>
</head>
<body bgcolor="black">
<center>
<a href="slides/{{ pptx_filename|basename }}">
<img src="images/fwac_logobig.png" border="0" />
</a>
</center>

</body>
</html>
